In [1]:
import pandas as pd

In [2]:
us_state_to_abbrev = {
"Alabama": "AL",
"Alaska": "AK",
"Arizona": "AZ",
"Arkansas": "AR",
"California": "CA",
"Colorado": "CO",
"Connecticut": "CT",
"Delaware": "DE",
"Florida": "FL",
"Georgia": "GA",
"Hawaii": "HI",
"Idaho": "ID",
"Illinois": "IL",
"Indiana": "IN",
"Iowa": "IA",
"Kansas": "KS",
"Kentucky": "KY",
"Louisiana": "LA",
"Maine": "ME",
"Maryland": "MD",
"Massachusetts": "MA",
"Michigan": "MI",
"Minnesota": "MN",
"Mississippi": "MS",
"Missouri": "MO",
"Montana": "MT",
"Nebraska": "NE",
"Nevada": "NV",
"New Hampshire": "NH",
"New Jersey": "NJ",
"New Mexico": "NM",
"New York": "NY",
"North Carolina": "NC",
"North Dakota": "ND",
"Ohio": "OH",
"Oklahoma": "OK",
"Oregon": "OR",
"Pennsylvania": "PA",
"Rhode Island": "RI",
"South Carolina": "SC",
"South Dakota": "SD",
"Tennessee": "TN",
"Texas": "TX",
"Utah": "UT",
"Vermont": "VT",
"Virginia": "VA",
"Washington": "WA",
"West Virginia": "WV",
"Wisconsin": "WI",
"Wyoming": "WY",
"District of Columbia": "DC",
"American Samoa": "AS",
"Guam": "GU",
"Northern Mariana Islands": "MP",
"Puerto Rico": "PR",
"United States Minor Outlying Islands": "UM",
"U.S. Virgin Islands": "VI",
}
# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

In [5]:
df = pd.read_csv("2021data.csv")
df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,symptom_status,hosp_yn,death_yn,underlying_conditions_yn
0,2021-01,OH,39.0,MORROW,39117.0,0 - 17 years,Female,White,Symptomatic,No,No,Yes
1,2021-01,NV,32.0,CLARK,32003.0,18 to 49 years,Female,White,Symptomatic,No,No,Yes
2,2021-01,NV,32.0,CLARK,32003.0,18 to 49 years,Male,Native Hawaiian/Other Pacific Islander,Symptomatic,Yes,No,Yes
3,2021-01,NY,36.0,KINGS,36047.0,65+ years,Male,White,Symptomatic,Yes,Yes,Yes
4,2021-01,AR,5.0,WHITE,5145.0,18 to 49 years,Male,White,Symptomatic,No,No,Yes

In [7]:
df['state_name'] = df['res_state'].map(lambda x: abbrev_to_us_state.get(x, x))
df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,symptom_status,hosp_yn,death_yn,underlying_conditions_yn,state_name
0,2021-01,OH,39.0,MORROW,39117.0,0 - 17 years,Female,White,Symptomatic,No,No,Yes,Ohio
1,2021-01,NV,32.0,CLARK,32003.0,18 to 49 years,Female,White,Symptomatic,No,No,Yes,Nevada
2,2021-01,NV,32.0,CLARK,32003.0,18 to 49 years,Male,Native Hawaiian/Other Pacific Islander,Symptomatic,Yes,No,Yes,Nevada
3,2021-01,NY,36.0,KINGS,36047.0,65+ years,Male,White,Symptomatic,Yes,Yes,Yes,New York
4,2021-01,AR,5.0,WHITE,5145.0,18 to 49 years,Male,White,Symptomatic,No,No,Yes,Arkansas

In [8]:
df.to_csv('cleaned.csv',index=False)