In [1]:
import pandas as pd

In [2]:
us_state_to_abbrev = {
"Alabama": "AL",
"Alaska": "AK",
"Arizona": "AZ",
"Arkansas": "AR",
"California": "CA",
"Colorado": "CO",
"Connecticut": "CT",
"Delaware": "DE",
"Florida": "FL",
"Georgia": "GA",
"Hawaii": "HI",
"Idaho": "ID",
"Illinois": "IL",
"Indiana": "IN",
"Iowa": "IA",
"Kansas": "KS",
"Kentucky": "KY",
"Louisiana": "LA",
"Maine": "ME",
"Maryland": "MD",
"Massachusetts": "MA",
"Michigan": "MI",
"Minnesota": "MN",
"Mississippi": "MS",
"Missouri": "MO",
"Montana": "MT",
"Nebraska": "NE",
"Nevada": "NV",
"New Hampshire": "NH",
"New Jersey": "NJ",
"New Mexico": "NM",
"New York": "NY",
"North Carolina": "NC",
"North Dakota": "ND",
"Ohio": "OH",
"Oklahoma": "OK",
"Oregon": "OR",
"Pennsylvania": "PA",
"Rhode Island": "RI",
"South Carolina": "SC",
"South Dakota": "SD",
"Tennessee": "TN",
"Texas": "TX",
"Utah": "UT",
"Vermont": "VT",
"Virginia": "VA",
"Washington": "WA",
"West Virginia": "WV",
"Wisconsin": "WI",
"Wyoming": "WY",
"District of Columbia": "DC",
"American Samoa": "AS",
"Guam": "GU",
"Northern Mariana Islands": "MP",
"Puerto Rico": "PR",
"United States Minor Outlying Islands": "UM",
"U.S. Virgin Islands": "VI",
}
# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))

In [3]:
df = pd.read_csv("2021data.csv")
df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,symptom_status,hosp_yn,death_yn,underlying_conditions_yn
0,2021-01,OH,39.0,MORROW,39117.0,0 - 17 years,Female,White,Symptomatic,No,No,Yes
1,2021-01,NV,32.0,CLARK,32003.0,18 to 49 years,Female,White,Symptomatic,No,No,Yes
2,2021-01,NV,32.0,CLARK,32003.0,18 to 49 years,Male,Native Hawaiian/Other Pacific Islander,Symptomatic,Yes,No,Yes
3,2021-01,NY,36.0,KINGS,36047.0,65+ years,Male,White,Symptomatic,Yes,Yes,Yes
4,2021-01,AR,5.0,WHITE,5145.0,18 to 49 years,Male,White,Symptomatic,No,No,Yes

In [4]:
df['state_name'] = df['res_state'].map(lambda x: abbrev_to_us_state.get(x, x))
df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,symptom_status,hosp_yn,death_yn,underlying_conditions_yn,state_name
0,2021-01,OH,39.0,MORROW,39117.0,0 - 17 years,Female,White,Symptomatic,No,No,Yes,Ohio
1,2021-01,NV,32.0,CLARK,32003.0,18 to 49 years,Female,White,Symptomatic,No,No,Yes,Nevada
2,2021-01,NV,32.0,CLARK,32003.0,18 to 49 years,Male,Native Hawaiian/Other Pacific Islander,Symptomatic,Yes,No,Yes,Nevada
3,2021-01,NY,36.0,KINGS,36047.0,65+ years,Male,White,Symptomatic,Yes,Yes,Yes,New York
4,2021-01,AR,5.0,WHITE,5145.0,18 to 49 years,Male,White,Symptomatic,No,No,Yes,Arkansas

In [5]:
df.to_csv('cleaned.csv',index=False)

In [16]:
grouped = df.groupby("state_name").count()['case_month']
grouped.rename({'case_month':'count'},axis=1,inplace=True)
grouped_dict = grouped.to_dict()

In [14]:
us_state_to_abbrev.keys()

dict_keys(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming', 'District of Columbia', 'American Samoa', 'Guam', 'Northern Mariana Islands', 'Puerto Rico', 'United States Minor Outlying Islands', 'U.S. Virgin Islands'])

In [17]:
for state in us_state_to_abbrev.keys():
    if state not in grouped_dict.keys():
        grouped_dict[state] = 0
grouped_dict

{'Alabama': 187,
 'Alaska': 19,
 'Arizona': 1871,
 'Arkansas': 15897,
 'California': 1,
 'Colorado': 162,
 'Florida': 4426,
 'Idaho': 4711,
 'Indiana': 2,
 'Kansas': 812,
 'Kentucky': 40496,
 'Louisiana': 36,
 'Maine': 312,
 'Maryland': 198,
 'Massachusetts': 5,
 'Michigan': 1909,
 'Minnesota': 5529,
 'Montana': 155,
 'Nevada': 23478,
 'New Hampshire': 18080,
 'New Jersey': 1359,
 'New Mexico': 3,
 'New York': 4257,
 'North Carolina': 54514,
 'Ohio': 147920,
 'Oklahoma': 5,
 'Oregon': 475,
 'Pennsylvania': 31661,
 'Rhode Island': 1,
 'South Carolina': 2036,
 'Tennessee': 18197,
 'Texas': 172,
 'Utah': 10651,
 'Vermont': 8059,
 'Virginia': 2034,
 'Washington': 476,
 'Wisconsin': 811,
 'Wyoming': 6918,
 'Connecticut': 0,
 'Delaware': 0,
 'Georgia': 0,
 'Hawaii': 0,
 'Illinois': 0,
 'Iowa': 0,
 'Mississippi': 0,
 'Missouri': 0,
 'Nebraska': 0,
 'North Dakota': 0,
 'South Dakota': 0,
 'West Virginia': 0,
 'District of Columbia': 0,
 'American Samoa': 0,
 'Guam': 0,
 'Northern Mariana Islands': 0,
 'Puerto Rico': 0,
 'United States Minor Outlying Islands': 0,
 'U.S. Virgin Islands': 0}

In [27]:
import json
with open("geo.json", "w") as outfile:
    json.dump(grouped_dict, outfile)